[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #4ade80;
  --md-primary-fg-color--light: #86efac;
  --md-primary-fg-color--dark: #16a34a;
  --md-accent-fg-color: #4ade80;
  --md-accent-fg-color--transparent: #4ade8020;
}
